baseURL: "https://blog.scientific-python.org/"
languageCode: "en-us"
title: "Scientific Python blog"
theme: ["hugo-atom-feed", "scientific-python-hugo-theme"]
relativeURLs: true
disableKinds: ["RSS", "taxonomy"]
ignoreErrors: ["error-disable-taxonomy"]

markup:
  highlight:
    noClasses: false

outputFormats:
  Atom:
    mediaType: "application/atom"
    baseName: "atom"
    isPlainText: false

outputs:
  home: ["HTML", "ATOM"]

permalinks:
  # mimic pelican permalink configuration
  /: "/:year/:month/:day/:slug/"

params:
  description: "Posts from the Scientific Python community"
  images:
  - /images/logo.svg
  navbarlogo:
    image: logo.svg
    text: Scientific Python Blog
    link: /
  navbar:
   - title: RSS
     url: /atom.xml
   - title: About Scientific Python
     url: https://scientific-python.org
   - title: Forum
     url: https://discuss.scientific-python.org
  footer:
    logo: logo.svg
    socialmediatitle: ""
    socialmedia:
      - link: https://scientific-python.org
        icon: home
      - link: https://github.com/scientific-python/blog.scientific-python.org
        icon: github
      - link: https://blog.scientific-python.org/atom.xml
        icon: atom
    quicklinks:
      column2:
        links:
          - text: Scientific Python Forum
            link: https://discuss.scientific-python.org
      column3:
        links:
