.post-author:not(:first-child):before {
  content: "";
}

.post-date {
  padding-left: 0.5rem;
}

/* Reduce space between label icon and labels */
.post-tag:nth-child(2) {
  padding-left: 0.1rem;
}

.post-tag {
  padding-left: 0.3rem;
}

.post-author:not(:first-child) {
  padding-left: 0.5rem;
}

.post-meta {
  padding-bottom: 1rem;
}

.post-meta .icon {
  font-size: 1.5rem;
}

.post-meta svg {
  fill: gray;
}

.post-content {
  font-family: serif;
}

.post-content p:not(:last-child) {
  margin-bottom: 0.25rem;
}

.post-summary {
  font-family: "Fira Sans", serif;
}

.post-summary img {
    border: 1px solid #bbb;
    float: right;
    max-width: 15em;
    margin: 0.5em;
}

div.MathJax_Display {
  margin-top: 0;
  margin-bottom: 0;
}

.post-featuredImage img {
    /* FIXME: Use color variable. */
    border: 0.15em #bbb solid;
    border-radius: 25px;
    max-width: 20rem;
    margin: 0.5em;
}

.tag-cloud {
  position: sticky;
  align-self: flex-start;
  top: 6rem;
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

.tag-cloud-title {
  font-size: 32px;
  margin-top: 60px;
  padding-bottom: 10px;
}

/* Flex-column layout for /posts/. */
.content-container {
  max-width: 70em;
  margin: 0 30px;
}

.content-container .flex-row {
  justify-content: space-between;
  flex-direction: column;
}

@media only screen and (min-width: 75em) {
  .content-container .flex-row {
    flex-direction: row;
  }
}

.content-container .flex-row .post-list {
  margin-left: 2em;
  width: 100%;
}
