{{- $featuredImage := .Resources.GetMatch "featuredImage" -}}
<div class="post-meta">
  {{ with $featuredImage }}
  <img class="post-featuredImage" src="{{ .RelPermalink }}" {{ if .Params.description }}alt="{{ .Params.description }}"{{ end }}/>
  {{ end }}
  </span>
  <span class="post-authors">
    {{- range .Params.author -}}
    <div class="post-author">{{ partial "svg-icon" "person" }}</span> {{ . }}</div>
    {{- end -}}
  </span>
  {{ if .Date }}
  <span class="post-date">{{ partial "svg-icon" "calendar" }} {{.Date.Format "January 2, 2006"}}</span>
  {{ end }}
  {{- if .Params.tags -}}
  <div class="post-tags">
    {{ partial "svg-icon" "tag" }}
    {{- range .Params.tags -}}
    <span class="post-tag"><a href="{{ path.Join "/tags/" . | relURL }}">#{{.}}</a></span>
    {{- end -}}
  </div>
  {{- end -}}
</div>
