{{ $page := . }}
<section class="content-padding flex-row">
Recent Posts
<div class="content-container">
  <!-- this section is populated by pulling posts from the site -->
  {{ range first 5 (where $.Site.RegularPages.ByPublishDate.Reverse "Section" "posts") }}
  <div class="post-list">
    <div class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
    {{ partial "post_synopsis.html" . }}
  </div>
  {{ end }}
  <footer>
    <a href="{{ "posts/" | relURL }}">All posts...</a>
  </footer>
</div>
</section>
